<template>
  <div id="stats">
    <AreaChart :data="chartData"/>
    <PieChart :data="chartData"/>
    <BarChart :data="chartData"/>
    <RadarChart :data="chartData"/>
    <LineChart :data="chartData"/>
  </div>
</template>

<script>
  // https://codesandbox.io/s/93m1lpjrvr
  import AreaChart from "@/components/AreaChart.vue";
  import PieChart from "@/components/PieChart.vue";
  import BarChart from "@/components/BarChart.vue";
  import RadarChart from "@/components/RadarChart.vue";
  import LineChart from "@/components/LineChart.vue"
  import Users from '../models/users';

  export default {
    name: "App",
    components: {
      AreaChart,
      PieChart,
      BarChart,
      RadarChart,
      LineChart
    },
    data() {
      return {
        chartData: []
      };
    },
    methods: {
      getUsers() {
        Users.request()
          .then(response => {
            this.$set(this, 'chartData', response.data);
          });
      },
    },
    mounted() {
      this.getUsers();
    },
  };
</script>

<style>
  #stats {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
