<template>
  <div>
    <button type="button" class="btn btn-success btn-sm" v-b-modal.info-modal>Add User</button>

    <b-table striped hover :items="items" :fields="fields" :sort-by.sync="sortBy" :sort-desc.sync="sortDesc"
      @row-clicked="info" class="mr-1">
      <template v-slot:cell(actions)="row">
        <b-button size="sm" @click="deleteUser(row.item.id)" class="mr-2">Delete</b-button>
      </template>
    </b-table>

    <b-modal id="info-modal" :title="infoModal.title" @hide="resetInfoModal" @ok="onSubmit">
      <b-form class="w-100">
        <b-form-group id="form-firstName-group"
                      label="FirstName:"
                      label-for="form-firstName-input">
          <b-form-input id="form-firstName-input"
                        type="text"
                        v-model="infoModal.item.firstName"
                        required
                        placeholder="Enter firstName">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-lastName-group"
                      label="LastName:"
                      label-for="form-lastName-input">
            <b-form-input id="form-lastName-input"
                          type="text"
                          v-model="infoModal.item.lastName"
                          required
                          placeholder="Enter lastName">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-age-group"
                      label="Age:"
                      label-for="form-age-input">
            <b-form-input id="form-age-input"
                          type="text"
                          v-model="infoModal.item.age"
                          required
                          placeholder="Enter age">
            </b-form-input>
        </b-form-group>
        <b-form-group id="form-email-group"
                      label="email:"
                      label-for="form-email-input">
            <b-form-input id="form-email-input"
                          type="text"
                          v-model="infoModal.item.email"
                          required
                          placeholder="Enter email">
            </b-form-input>
        </b-form-group>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
  import Users from '../models/users';

  export default {
    name: 'Users',
    data: function() {
      return {
        sortBy: 'firstName',
        sortDesc: true,
        searchQuery: '',
        fields: [{key: 'firstName', sortable: true}, 'lastName', 'age', 'email', 'actions'],
        items: [],
        infoModal: {
          title: '',
          item: {
            actions: true
          },
        }
      }
    },
    methods: {
      getUsers() {
        Users.request()
          .then(response => {
            this.$set(this, 'items', response.data.map(item => {
              item.actions = {};
              return item;
            }));
          });
      },
      deleteUser(id) {
        if (!confirm('Are you sure?')) return;
        this.items = [...this.items.filter(item => {
          return item.id !== id;
        })];
      },
      info(item, index, button) {
        this.infoModal.title = `User ID: ${item.id}`;
        this.infoModal.item = Object.assign({}, item);
        this.$root.$emit('bv::show::modal', 'info-modal', button);
      },
      resetInfoModal() {
        this.infoModal.title = '';
        this.infoModal.item = {};
      },
      onSubmit(evt) {
        if (!this.infoModal.item.id) {
          this.items.push(this.infoModal.item);
        }
        this.items = [...this.items.map(item => {
          if (item.id == this.infoModal.item.id) {
            item = this.infoModal.item;
          }
          return item;
        })];
        this.resetInfoModal();
      },
    },
    mounted() {
      this.getUsers();
    },
  }
</script>