<template>
  <div class="weather">
    <header>
      <h1>{{ response.name }}</h1>
      <input v-if="changeCity" @keyup.enter="submit" v-model="search" placeholder="Введите адрес">
      <p v-else @click="changeCity = !changeCity">Сменить город</p>
    </header>
    <content class="fl jc-e mb-30 mt-30">
      <div>
        <div>
          <img v-show="response.cod == 200 && response.weather[0].icon" :src="`http://openweathermap.org/img/wn/${response.weather[0].icon}@2x.png`"/>
          <span class="temperature">{{ response.cod == 200 ? (response.main.temp - 273.15).toFixed(0) : '' }}</span>
        </div>
        <div class="fl jc-c">
          <span>{{ response.weather[0].description }}</span>
        </div>
      </div>
    </content>

    <content class="fl jc-sa">
      <div class="fl fb-100">
        <div class="fl fd-c fg-1">
          <span>Ветер</span>
          <span><b>{{ response.wind.speed }}</b> м/с</span>
        </div>
        <div class="fl fd-c fg-1">
          <span>Давление</span>
          <span><b>{{ response.main.pressure }}</b> гПа</span>
        </div>
        <div class="fl fd-c fg-1">
          <span>Влажность</span>
          <span><b>{{ response.main.humidity }}</b> %</span>
        </div>
      </div>
    </content>
  </div>
</template>

<script>
  import Weather from '../models/weather';
  export default {
    name: 'Weather',
    data() {
      return {
        search: this.query,
        changeCity: false,
        response: {
          main: {},
          wind: {},
          weather: [{}]
        }
      };
    },
    methods: {
      getWeather(query) {
        if (!query) {
          return;
        }
        Weather.request({params: {q: query}})
          .then(response => {
            this.$set(this, 'response', response.data);
          });
      },
      clear() {
        this.$set(this, 'response', {
          main: {},
          wind: {},
          weather: [{}]
        });
      },
      submit() {
        this.clear();
        this.changeCity = !this.changeCity;
        this.getWeather(this.search);
      }
    },
    watch: {
      query: query => {
        this.getWeather(query);
      }
    },
    mounted() {
      this.getWeather(this.query || 'Краснодар');
    }
  }
</script>

<style scoped>
  .weather {
    background: mediumturquoise;
    color: white;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    padding: 50px;
  }
  .fl {
    display: flex;
  }
  .jc-c {
    justify-content: center;
  }
  .jc-e {
    justify-content: flex-end;
  }
  .jc-sa {
    justify-content: space-around;
  }
  .fd-c {
    flex-direction: column;
  }
  .fb-100 {
    flex-basis: 100%;
  }
  .fg-1 {
    flex-grow: 1;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .ta-left {
    text-align: left;
  }
  .temperature {
    font-size: 8em;
  }
</style>