<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <router-link class="navbar-brand" to="/">Home</router-link>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li v-for="(item, index) in menuItems" :key="index" class="nav-item">
          <router-link v-if="item.path != '/'" class="nav-link" :to="item.path">{{item.name}}</router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
  import routes from '../routes';
  export default {
    name: 'Menu',
    computed: {
      menuItems: function() {
        return routes;
      }
    }
  }
</script>

<style scoped>
  a.nav-link.router-link-active, a.nav-link.router-link-active:focus {
    font-weight: bold;
    color: #fff;
  }
</style>