<template>
  <div id="app">
    <section-menu/>
    <transition name="moveInUp">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  .moveInUp-enter-active {
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .moveInUp-enter-active {
    animation: fadeIn 1s ease-in;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>